* {margin:0;padding:0}
.inner_copy {border:0;color:#f00;float:left;width:50% !important;margin:-100% 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:11px}
.fleft {float:left}
.fright  {float:right}
.fcenter {float:none;margin:0 auto;width:100%}
.fclear {clear:both}
body {background-color: lightblue;} 
#container {width:800px;margin:auto;background:#fff;height: 722px;}

#layoutHeader {width:800px;height:217px;background:url('/ProtectoresWeb/images/headerBackground.jpg')no-repeat;margin-top: 0px;
margin-left: 4px;
}
#layoutHeader h1 {color:#fff;font-size:36px;font-weight:bold;padding:20px 20px 0 20px}
#layoutHeader h2 {color:#DCE999;font-size:14px;font-weight:bold;padding:0 20px 0 20px}
#layoutHeader h1 a {color:#fff;font-size:36px;font-weight:bold;text-decoration:none}
#layoutHeader h2 a {color:#DCE999;font-size:14px;font-weight:bold;text-decoration:none}


#layoutCenterBody {margin:10px 27px 20px 5px;height: 375px;width: 778px;}

#layoutNavigation {border:1px solid #975450;width:195px;float:left;background:#D39697;margin-left: 0px;margin-right: 25px;}
#layoutNavigation .navTitle {background:#975450;height:30px}
#layoutNavigation .navTitle h3 {color:#fff;font-size:12px;font-weight:bold;padding:6px 10px}

#layoutBodyContent {margin-left:220px}
#layoutBodyContent a {color:#7A7D5F;font-size:12px;font-weight:bold}
#layoutBodyContent h1 {color:#15190A;font-weight:bold;font-size:24px}
#layoutBodyContent h2 {color:#15190A;font-weight:bold;font-size:14px;margin-top:10px}
#layoutBodyContent p {margin-top:10px}
.clearer {clear:both;height:10px}



#layoutMenu {height:55px;
width: 808px;
background:url(images/menuBackground.gif) repeat-x;font-weight:bold;
}
#Header {height:56px;width: 807px;}
#layoutMenu ul {text-align:center;padding-top:17px}
#layoutMenu li {list-style:none;display:inline}
#layoutMenu li a {padding:3px 20px 3px 8px;text-decoration:none;background:url(images/mainMenuList.gif) no-repeat left 5px;font-size:12px}
#layoutMenu li a:link {color:#fff;font-weight:bold;font-size:12px;width: 150px;}
#layoutMenu li a:visited {color:#fff}
#layoutMenu li a:hover {color:#F6BEBF}

#layoutNavigation ul {list-style-type:none;margin:10px 0; width: 191px;}
#layoutNavigation a {display:block;width:180px;background-color:#D39697;border-bottom:1px dotted #5D5262;margin:7px 10px}
#layoutNavigation a:link, #layoutNavigation a:visited {color:#fff;text-decoration:none;height: 17px;}
#layoutNavigation a:hover {background-color:#FDDBDC;color:#000}


#footer {height:56px;background:url(images/menuBackground.gif) repeat-x;text-align:center;margin-top: 71px;}
#footer p {padding-top:10px;color:#fff}
#footer a {color:#fff;text-decoration:underline}
#footer a:hover {color:#000;text-decoration:none;background:#FDDBDC}

#registration_form {
    border: 25px;
    background: lightblue;
    padding: 20px; 
    width: 800px;   
}
#registration_fields
{
    margin: 0 auto;
    }

.textname
{

    width:180px;
    clear:right;
    text-align:right;
    padding-right:10px;
}


.textbox
{
    width:250px;
}
.dropdownbox
  {
    width:250px;
}  
.checkbox
{
    
}